@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,400;0,700;1,300;1,400;1,700&family=Gaegu:wght@300;400;700&family=Nanum+Gothic:wght@400;700;800&display=swap');
.header {
    font-family: 'Averia Serif Libre', serif;
    color: white;
    font-weight: bold;
    background-color: #FF7338;
    width: 100vw;
    align-items: center;
    display: flex;
    justify-content: center;

}

.headerList {
    align-items: center; 
    padding: 10px 20px; 
    width: 1240px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 

}

.logoImg {
    max-width: 100%; 
    width: 160px; 
}

.headerMenu {
    padding: 0; 
    list-style: none;
    display: flex; 
}

.headerMenu li {
    position: relative; 
    margin: 0 4rem; 
    font-size: 22px;
}

.headerMenu li a {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.headerMenu li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px; 
    width: 0;
    height: 4px; 
    background-color: #fff; 
    border-radius: 2px; 
    transition: width 0.3s ease-in-out;
}
.headerMenu li:hover::after {
    width: 100%;
}

@media (max-width: 600px) {
    .header {
        flex-direction: column; 
        align-items: flex-start; 
    }
    .logoImg {
        margin-right: 1rem;

    }
    .headerMenu {
        margin-top: 10px; 
    }
    .headerMenu li {
        margin: 0 1rem; 
    }
    
    
}