.aboutContainer {
    color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; 
    margin-top: 2rem;
}

.aboutBox {
    border-radius: 40px;
    border: 4px solid #FF7338;
    background: rgba(255, 255, 255, 0.00);
    width: 1240px;
    height: 500px;
    color: #FF7338;
    position: relative;
    padding: 1rem;

}
.aboutBoxFooter {
    border-radius: 101px;
    border: 4px solid #FF7338;
    background: #fff;
    width: 1240px;
    height: 50px;
    position: absolute;
    bottom: -40px; 
    left: 50%; 
    transform: translateX(-50%); 
    font-family: 'Averia Serif Libre', serif;
    font-size: 1.2rem;
    text-align: center;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 1.5rem;

}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.nariiP {
    border-radius: 1rem;
    margin-top: 1rem;
    animation: fadeIn 2s ease-in-out;
    width: 150px;


}
a {
    text-decoration: none;
    font-style: none;
    color:#FF7338;
}
.github, .linkedIn, .blog, .instagram {
    margin: 0rem 3rem;
}
.java, .js, .aws, .py, .react, .node {
    font-size: 3rem;
    margin: 0 3rem;
    animation: fadeIn 6s ease-in-out;
}
.skill {
    margin: 2rem 0rem;
}
.aboutText {
    font-family: 'Averia Serif Libre', serif;
    z-index: 100;
    position: relative;
}

.aboutText .aboutBoxMainText {
    text-align: left;
    margin-left: 7rem;
    margin-top: 5rem;
    animation: fadeIn 4s ease-in-out;
}
.aboutMainText {
    font-size: 2.2rem
}
.profileName {
    font-size: 2.5rem;
}
hr {
    width: 70%;
    margin-top: 10rem;
    border: 1px solid #FF7338;
}
